.cart_page {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  .head {
    width: 1320px;
    height: auto;

    display: flex;
    flex-direction: column;

    p {
      margin: 60px 0px;
      color: rgba(4, 30, 66, 1);

      font-family: var(--font);
      font-size: 25px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: center;
    }

    span {
      color: rgba(4, 30, 66, 1);

      font-family: var(--font);
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: center;
    }

    .procces {
      margin: 30px 0px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .line {
        width: 425px;
        height: 6px;
        border-radius: 10px;

        background-color: #eaeaea;
        div {
          width: 50%;
          height: 100%;
          background-color: rgba(245, 195, 75, 1);
        }
      }

      img {
        position: absolute;
        display: flex;
        align-self: center;
      }
    }
  }

  .body {
    position: relative;
    width: 1320px;
    height: auto;

    display: flex;
    justify-content: space-between;
    gap: 25px;

    .left {
      width: 872px;
      height: 619px;

      table {
        width: 100%;
        height: 100%;
        overflow: hidden;

        border-collapse: collapse;
        border: 1px solid #eaeaea;

        thead {
          background-color: #eaeaea;
          th {
            height: 60px;
            padding: 20px;
            box-sizing: border-box;
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Medium;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0%;
            text-align: left;
          }
        }

        tbody {
          .flex {
            margin-top: 10px;
            display: flex;
            align-items: center;

            .info {
              margin-left: 20px;
            }

            .img {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          td {
            padding: 20px;
            box-sizing: border-box;

            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Regular;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0%;
            text-align: left;

            .number {
              width: 102px;
              height: 43px;

              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-around;

              border-radius: 60px;
              border: 1px solid #eaeaea;

              .img {
                width: 25px;
                height: 25px;

                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #eaeaea;
                border-radius: 50%;
              }

              img:hover {
                background-color: #eaeaea;
              }
            }

            img {
              display: flex;
              align-self: center;
              justify-self: center;
            }
          }

          tr {
            border: 1px solid #eaeaea;
          }
        }
      }
    }

    .right {
      width: 420px;
      height: 420px;

      padding: 30px;

      display: flex;
      flex-direction: column;

      border: 1px solid #eaeaea;

      p {
        margin-bottom: 20px;
        color: rgba(4, 30, 66, 1);

        font-family: var(--font);
        font-style: Medium;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
      }

      .box_wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .box {
          position: relative;
          display: flex;
          flex-direction: column;

          span {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Regular;
            font-size: 16px;
            font-weight: 400;
            line-height: 50px;
            letter-spacing: 0%;
            text-align: left;
          }
        }
      }

      hr {
        width: 100%;
        color: #eaeaea;
        opacity: 30%;
      }

      .total {
        display: flex;
        justify-content: space-between;

        span {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Regular;
          font-size: 16px;
          font-weight: 400;
          line-height: 35px;
          letter-spacing: 0%;
          text-align: left;
        }
      }

      .btn {
        margin: 40px 25px;
        width: 365px;
        height: 52px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(245, 195, 75, 1);
        border-radius: 6px;

        span {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: center;
        }
      }
    }
  }

  .bott {
    position: relative;
    margin-top: 30px;
    width: 1320px;
    height: 55px;

    display: flex;

    .promo {
      margin-right: 100px;
      padding: 10px;
      width: 360px;
      height: 55px;
      box-sizing: border-box;

      display: flex;
      justify-content: space-between;
      align-items: center;

      border: 1px dashed rgba(98, 105, 116, 1);
      border-radius: 6px;

      span {
        color: rgba(4, 30, 66, 1);

        font-family: var(--font);
        font-style: Regular;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
      }

      a {
        color: rgba(4, 30, 66, 1);

        font-family: var(--font);
        font-style: Medium;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
      }

      a:hover {
        border-bottom: 1px solid rgba(4, 30, 66, 1);
      }
    }

    .update {
      width: auto;
      height: auto;

      display: flex;

      .shop {
        width: 200px;
        height: 55px;
        border: 2px solid rgba(245, 195, 75, 1);
        border-radius: 6px;
        margin-right: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: center;
        }
      }

      .cart {
        width: 150px;
        height: 55px;
        background-color: rgba(245, 195, 75, 1);
        border: 2px solid rgba(245, 195, 75, 1);
        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: center;
        }
      }
    }
  }
}
