.check_page {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .head {
    margin: 60px 0px;
    width: 1320px;
    height: auto;

    p {
      color: rgba(4, 30, 66, 1);

      font-family: var(--font);
      font-style: Medium;
      font-size: 28px;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: 0%;
      text-align: center;
    }
  }

  .body {
    width: 1320px;
    height: auto;

    display: flex;
    justify-content: space-between;

    .left {
      width: 860px;
      height: auto;

      display: flex;
      flex-direction: column;

      .top {
        position: relative;
        width: 100%;
        height: auto;

        p {
          margin-bottom: 20px;
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 20px;
          font-weight: 500;
          line-height: 29px;
          letter-spacing: 0%;
          text-align: left;
        }

        .name {
          width: 100%;

          display: flex;
          justify-content: space-between;

          label {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Medium;
            font-size: 20px;
            font-weight: 500;
            line-height: 29px;
            letter-spacing: 0%;
            text-align: left;
          }

          input {
            width: 410px;
            height: 55px;

            border: 1px solid #eaeaea;
            border-radius: 6px;
            outline: 1px solid #eaeaea;
            box-sizing: border-box;
          }
        }

        label {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 20px;
          font-weight: 500;
          line-height: 29px;
          letter-spacing: 0%;
          text-align: left;
        }

        input {
          margin-bottom: 20px;
          width: 100%;
          height: 55px;

          border: 1px solid #eaeaea;
          border-radius: 6px;
          outline: 1px solid #eaeaea;
          box-sizing: border-box;
        }

        select {
          padding: 10px 20px;
          margin-bottom: 20px;
          width: 100%;
          height: 55px;

          border: 1px solid #eaeaea;
          border-radius: 6px;
          outline: 1px solid #eaeaea;
          box-sizing: border-box;

          color: rgba(98, 105, 116, 1);

          font-family: var(--font);
          font-style: Regular;
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: left;
        }

        .number {
          width: 100%;

          display: flex;
          justify-content: space-between;

          label {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Medium;
            font-size: 20px;
            font-weight: 500;
            line-height: 29px;
            letter-spacing: 0%;
            text-align: left;
          }

          input {
            width: 410px;
            height: 55px;

            border: 1px solid #eaeaea;
            border-radius: 6px;
            outline: 1px solid #eaeaea;
            box-sizing: border-box;
          }
        }
      }

      .bott {
        margin-top: 60px;
        position: relative;
        width: 100%;

        p {
          margin-bottom: 20px;
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 20px;
          font-weight: 500;
          line-height: 29px;
          letter-spacing: 0%;
          text-align: left;
        }

        .order {
          label {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Medium;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: left;
          }

          textarea {
            padding: 20px;
            width: 100%;
            height: 290px;

            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Regular;
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: left;

            border: 2px solid #eaeaea;
            border-radius: 6px;
            box-sizing: border-box;
          }
        }
      }
    }

    .right_box {
      width: 420px;
      height: auto;

      display: flex;
      flex-direction: column;
      .right {
        padding: 25px;
        width: 420px;
        height: 376px;

        display: flex;
        flex-direction: column;

        border: 1px solid #eaeaea;
        border-radius: 6px;
        box-sizing: border-box;

        p {
          margin: 25px 0px;
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 20px;
          font-weight: 500;
          line-height: 29px;
          letter-spacing: 0%;
          text-align: left;
        }

        .title {
          width: 100%;
          height: auto;

          display: flex;
          justify-content: space-between;
          margin-bottom: 22px;

          span {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Regular;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0%;
            text-align: left;
          }
        }

        .border {
          margin: 0px;
          padding: 10px 0px;
          overflow: hidden;
          border-top: 1px solid #eaeaea;
          border-bottom: 1px solid #eaeaea;

          span {
            color: rgba(4, 30, 66, 1);

            font-family: var(--font);
            font-style: Medium;
            font-size: 16px;
            font-weight: 500;
            line-height: 35px;
            letter-spacing: 0%;
            text-align: left;
          }
        }
      }

      .checkbox {
        margin: 30px 0px;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        input {
          margin-right: 15px;
          border: 2px solid rgba(4, 30, 66, 1);
          border-radius: 6px;
        }

        label {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Regular;
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: left;
        }
      }

      .order {
        width: 100%;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(245, 195, 75, 1);
        border-radius: 6px;

        a {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Medium;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: center;
        }
      }
    }
  }
}
