html body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

/* navbar frame */

.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  margin-bottom: 47px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(68, 50, 151, 1);
}

.navbar_frame .container {
  position: relative;
  padding: 20px 0px 14px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.navbar_frame .nav_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .nav_top > a img {
  height: 36px;
  margin-right: 76px;
}

.navbar_frame .nav_top .nav_top_search {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;

  border-radius: 6px;
}

.navbar_frame .nav_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 38px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}

.navbar_frame .category_list select {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;
}

.navbar_frame .nav_top_search .search_icon {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #f5c34b;
  border-radius: 0px 6px 6px 0px;
}

.navbar_frame .search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_frame .nav_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar_frame .top_menu_box .box_icon {
  position: relative;
  margin-right: 16px;
  width: 50px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .box_icon img {
  width: 25px;
  height: 25px;
}

.navbar_frame .box_icon .basket_number {
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5c34b;
  border-radius: 50%;
  color: rgba(11, 30, 64, 1);

  font-family: Inter;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .top_menu_box .box_info {
  display: flex;
  flex-direction: column;
}

.navbar_frame .box_info span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box_info strong {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: undefinedpx;
  font-weight: undefined;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .nav_bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  border-top: 1px solid #5746a1;
}

.navbar_frame .nav_bott .nav_bott_menu_box {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .nav_bott_menu_box .browse_box {
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #5746a1;
}

.navbar_frame .browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.navbar_frame .browse_box span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: undefinedpx;
  font-weight: undefined;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .nav_bott_menu_box .nav_route_menu {
  width: 690px;
  margin-left: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .nav_route_menu .router_menu {
  margin-right: 20px;
  width: auto;
  height: auto;

  display: flex;
}

.navbar_frame .router_menu a {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .router_menu a.active {
  color: #f5c34b;
}

.navbar_frame .nav_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}

.navbar_frame .sorting_menu span {
  margin-left: 20px;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
}

/* Footer section */
.footer_container {
  position: relative;
  width: 1320px;
  height: auto;
  padding: 90px 0px 20px;

  display: flex;
  flex-direction: column;
}

.footer_container .footer_title {
  display: block;
  margin-bottom: 30px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_container .footer_top {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_container .footer_top .contact {
  position: relative;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}

.footer_container .contact .contact_desc {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.footer_container .contact_desc img {
  width: 35px;
  height: 30px;
}

.footer_container .contact_desc div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.footer_container .contact_desc div strong {
  margin-top: 15px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_container .contact_desc div span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_container .footer_top .support {
  position: relative;

  display: flex;
  flex-direction: column;
}

.footer_container .support a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_container .footer_top .service {
  position: relative;

  display: flex;
  flex-direction: column;
}

.footer_container .service a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_container .footer_top .follow {
  position: relative;

  display: flex;
  flex-direction: column;
}

.footer_container .follow .follow_box {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
}

.footer_container .follow .icon a {
  margin-right: 20px;
}

.footer_container .follow_box img {
  margin-right: 20px;
}

.footer_container .follow_box a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_container .footer_top .accept {
  margin-top: 145px;
  position: relative;

  display: flex;
  flex-direction: column;
}

.footer_container .accept .card_box {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_container .footer_container .footer_bott {
  margin-top: 90px;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-top: 1px solid #eaeaea;
}

.footer_container .footer_bott .footer_box {
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_container .footer_box .footer_left {
  width: 940px;
  display: flex;
  flex-direction: row;
}

.footer_container .footer_left p {
  margin-right: 100px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_container .footer_box .footer_right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_container .footer_right .select_box {
  width: 180px;
  height: 40px;
  padding: 10px 20px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-sizing: border-box;
}

.footer_container .select_box select {
  margin-left: 20px;
  width: 70px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_container .select_box span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
