.home_page {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* slider frame */

.slider_frame {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  height: 508px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fff;
}

.slider_frame .slider_container {
  position: relative;

  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.slider_frame .slider_container .slider_right {
  width: 871px;
  height: 508px;
  border: 1px solid var(--Bg / White, rgba(255, 255, 255, 1));
  border-radius: 6px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgba(0, 83, 246, 1);
}

.slider_frame .slider_right .context {
  position: relative;
  z-index: 2;
  width: 428px;
  height: 323px;
  margin-left: 15px;
}

.slider_frame .context .offer {
  width: 104px;
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .context strong {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 60px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .context p {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .context a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
  height: 52px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--Bg / White, rgba(255, 255, 255, 1));
  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);
}

.slider_frame .slider_right .image {
  position: relative;
  z-index: 1;
  right: 45px;
  width: 519.51px;
  height: 407px;
}

.slider_frame .slider_container .slider_left {
  position: relative;
  width: 422px;
  height: 508px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_frame .slider_left .slider_left_top {
  position: relative;
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 6px;
}

.slider_frame .slider_left_top .top_context {
  width: 248px;
  height: 139px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_frame .top_context span {
  display: block;
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .top_context strong {
  display: block;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .top_context .shop-btn {
  width: 122px;
  height: 20px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.slider_frame .slider_left .slider_left_bott {
  position: relative;
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 6px;
}

.slider_frame .slider_left_bott .bott_context {
  width: 248px;
  height: 139px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_frame .bott_context span {
  display: block;
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .bott_context strong {
  display: block;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .bott_context .shop-btn {
  width: 122px;
  height: 20px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

/* icons frame */

.icons_frame {
  position: relative;
  margin-bottom: 90px;
  width: 100%;
  height: 86px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fff;
}

.icons_frame .icons_container {
  position: relative;

  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  border-bottom: 2px solid rgba(234, 234, 234, 1);
}

.icons_frame .icons_container .info {
  position: relative;
  width: auto;
  height: 77px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons_frame .info .image {
  position: relative;
  margin-right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icons_frame .info_text strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.icons_frame .info_text span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* categories */

.category_container {
  position: relative;
  margin-bottom: 60px;

  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.category_container .category_head {
  position: relative;
  margin-bottom: 30px;
  width: 1320px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category_container .category_head span {
  position: relative;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.category_container .category_head .btn {
  position: relative;
  width: 150px;
  height: 20px;
  cursor: pointer;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.category_container .category_body {
  position: relative;
  width: 1320px;
  height: 250px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category_container .category_content {
  position: relative;
  width: 143px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.category_container .category_content .btn {
  margin-top: 10px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

/* seller container */

.seller_container {
  position: relative;
  margin-bottom: 60px;

  width: 1320px;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.seller_container .seller_head {
  position: relative;
  margin-bottom: 30px;
  width: 1320px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.seller_container .seller_head span {
  position: relative;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.seller_container .seller_head .btn {
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.seller_container .seller_body {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;

  scroll-behavior: smooth;
}

.seller_container .seller_body .product_card {
  position: relative;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 455px;
  flex: 0 0 300px;
  overflow: hidden;
  border-radius: 10px;
}

.seller_container .product_card_context span {
  font-family: Jost;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(98, 105, 116, 1);
}

.seller_container .product_card_context .old {
  margin-left: 20px;
  text-decoration: line-through;
}

.seller_container .product_card_context h3,
strong,
a {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.seller_container .product_card:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

/* info bar */

.info_bar {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #4f83ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info_bar p {
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.headphone_section_container {
  position: relative;
  margin-top: 90px;
  margin-bottom: 60px;

  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.headphone_section_container .headphone_section_head {
  position: relative;
  margin-bottom: 30px;
  width: 1320px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headphone_section_head span {
  position: relative;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.headphone_section_head .btn {
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.headphone_section_body .headphone_left {
  position: relative;
  width: 665px;
  height: 368px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(243, 245, 246, 1);
}
