.home_page {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* slider frame */

.slider_frame {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  height: 508px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fff;
}

.slider_frame .slider_container {
  position: relative;

  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.slider_frame .slider_container .slider_right {
  width: 871px;
  height: 508px;
  border: 1px solid var(--Bg / White, rgba(255, 255, 255, 1));
  border-radius: 6px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgba(0, 83, 246, 1);
}

.slider_frame .slider_right .context {
  position: relative;
  z-index: 2;
  width: 428px;
  height: 323px;
  margin-left: 15px;
}

.slider_frame .context .offer {
  width: 104px;
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .context strong {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 60px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .context p {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .context a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
  height: 52px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--Bg / White, rgba(255, 255, 255, 1));
  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);
}

.slider_frame .slider_right .image {
  position: relative;
  z-index: 1;
  right: 45px;
  width: 519.51px;
  height: 407px;
}

.slider_frame .slider_container .slider_left {
  position: relative;
  width: 422px;
  height: 508px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_frame .slider_left .slider_left_top {
  position: relative;
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 6px;
}

.slider_frame .slider_left_top .top_context {
  width: 248px;
  height: 139px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_frame .top_context span {
  display: block;
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .top_context strong {
  display: block;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .top_context .shop-btn {
  width: 122px;
  height: 20px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.slider_frame .slider_left .slider_left_bott {
  position: relative;
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 6px;
}

.slider_frame .slider_left_bott .bott_context {
  width: 248px;
  height: 139px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_frame .bott_context span {
  display: block;
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .bott_context strong {
  display: block;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.slider_frame .bott_context .shop-btn {
  width: 122px;
  height: 20px;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

/* icons frame */

.icons_frame {
  position: relative;
  margin-bottom: 90px;
  width: 100%;
  height: 86px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #fff;
}

.icons_frame .icons_container {
  position: relative;

  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  border-bottom: 2px solid rgba(234, 234, 234, 1);
}

.icons_frame .icons_container .info {
  position: relative;
  width: auto;
  height: 77px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons_frame .info .image {
  position: relative;
  margin-right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icons_frame .info_text strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.icons_frame .info_text span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* categories */

.category_container {
  position: relative;
  margin-bottom: 60px;

  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.category_container .category_head {
  position: relative;
  margin-bottom: 30px;
  width: 1320px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category_container .category_head span {
  position: relative;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.category_container .category_head .btn {
  position: relative;
  width: 150px;
  height: 20px;
  cursor: pointer;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.category_container .category_body {
  position: relative;
  width: 1320px;
  height: 250px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category_container .category_content {
  position: relative;
  width: 143px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.category_container .category_content .btn {
  margin-top: 10px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

/* seller container */

.seller_container {
  position: relative;
  margin-bottom: 60px;

  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.seller_container .seller_head {
  position: relative;
  margin-bottom: 30px;
  width: 1320px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.seller_container .seller_head span {
  position: relative;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.seller_container .seller_head .btn {
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.seller_container .seller_body {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seller_container .seller_body .boxes_wrapper {
  position: relative;
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seller_container .seller_body .next_prev_box {
  position: relative;
  z-index: 9;
  width: 25px;

  display: flex;
  align-items: center;
}

.seller_container .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.seller_container .seller_body .product_boxes {
  width: 1224px;
  height: 465px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seller_container .product_card {
  position: relative;
  padding: 10px;
  box-sizing: border-box;

  width: 306px;
  height: 480px;

  display: flex;
  flex-direction: column;

  border-radius: 10px;
}

.seller_container .product_card .product_img {
  position: relative;
  width: 306px;
  height: 280px;
}
.seller_container .product_img .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.seller_container .hover_box button {
  width: 260px;
  height: 50px;
  margin-bottom: 10px;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  background: #0053f6;
  box-shadow: 0px 5px 20px rgba(0, 83, 246, 0.1);
  border-radius: 6px;

  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.seller_container .product_img:hover .hover_box {
  display: flex;
}

.seller_container .product_card_context span {
  font-family: Jost;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(98, 105, 116, 1);
}

.seller_container .product_card_context .old {
  margin-left: 20px;
  text-decoration: line-through;
}

.seller_container .product_card_context h3,
strong,
a {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.seller_container .product_card:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.seller_container .product_pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seller_container .product_pagionation_box .product_pagionation_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.seller_container .product_pagionation_main .pagionation_dot {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
}

.seller_container .pagionation_dot .dot {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.seller_container .pagionation_dot .dot div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #112137;
}

.seller_container .pagionation_dot .dot.active {
  border: 2px solid #112137;
  border-radius: 50%;
}

/* info bar */

.info_bar {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #e5edff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info_bar p {
  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

/* headphone container */

.headphone_section_container {
  position: relative;
  margin-top: 90px;
  margin-bottom: 60px;

  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.headphone_section_container .headphone_section_head {
  position: relative;
  margin-bottom: 30px;
  width: 1320px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headphone_section_container .headphone_section_head span {
  position: relative;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.headphone_section_container .headphone_section_head .btn {
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.headphone_section_container .headphone_section_body {
  position: relative;
  width: 1320px;
  height: 368px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headphone_section_container .headphone_section_body .headphone_left {
  position: relative;
  padding: 30px;
  width: 665px;
  height: 368px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(243, 245, 246, 1);
}

.headphone_section_container .headphone_left .left_context {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headphone_section_container .headphone_left .left_context span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.headphone_section_container .headphone_left .left_context strong {
  margin: 15px 0px 15px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.headphone_section_container .headphone_left .left_context .shop-btn {
  width: auto;
}

.headphone_left .left_context .shop-btn:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.headphone_section_container .headphone_section_body .headphone_middle {
  position: relative;
  width: auto;
  height: 368px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headphone_section_container .headphone_middle .middle_box {
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(243, 245, 246, 1);
}

.headphone_section_container .middle_box .middle_context {
  width: 25%;
  margin-bottom: 55px;
  margin-left: 25px;
}

.headphone_section_container .middle_context span {
  display: block;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.headphone_section_container .middle_context strong {
  margin: 15px 0px 15px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.headphone_section_container .headphone_section_body .headphone_right {
  position: relative;
  width: auto;
  height: 368px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headphone_section_container .headphone_right .right_box {
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(243, 245, 246, 1);
}

.headphone_section_container .right_box .right_context {
  width: 25%;
  margin-bottom: 55px;
  margin-left: 25px;
}

.headphone_section_container .right_context span {
  display: block;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.headphone_section_container .right_context strong {
  margin: 15px 0px 15px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

/* TV container */

.tv_container {
  position: relative;
  margin-bottom: 20px;

  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.tv_container .tv_head {
  position: relative;
  margin-bottom: 30px;
  width: 1320px;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tv_container .tv_head span {
  position: relative;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.tv_container .tv_head .btn {
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.tv_container .tv_head .tv_head_section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.tv_container .tv_head_section .btn:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.tv_container .tv_body {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tv_container .tv_body .boxes_wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  height: 480px;
  overflow: visible;
}

.tv_container .tv_body .next_prev_box {
  position: relative;
  z-index: 10;
  width: 25px;

  display: flex;
  align-items: center;
}

.tv_container .tv_body .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.tv_container .tv_body .tv_card {
  position: relative;

  width: 240px;
  height: 420px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  border-radius: 10px;
}

.tv_container .tv_card .tv_card_context {
  width: 260px;
  padding: 10px;
}

.tv_container .tv_card_context span {
  font-family: Jost;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(98, 105, 116, 1);
}

.tv_container .tv_card_context .old {
  margin-left: 20px;
  text-decoration: line-through;
}

.tv_container .tv_card_context h3,
strong,
a {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.tv_container .tv_card .tv_card_image {
  width: 240px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv_container .tv_card:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.tv_container .product_pagionation_box {
  margin-top: 50px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tv_container .product_pagionation_box .product_pagionation_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tv_container .product_pagionation_main .pagionation_dot {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
}

.tv_container .pagionation_dot .dot {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px solid #112137;

  border-radius: 50%;
}

.tv_container .pagionation_dot .dot div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #112137;
}

.tv_container .pagionation_dot .dot.active {
  border: 2px solid #112137;
}

/* deals container*/

.deals_frame {
  position: relative;
  width: 100%;
  height: 630px;

  display: flex;
  justify-content: center;

  margin-top: 90px;
  background-image: url(/public/images/images/icons/event_bg.png);
  background-size: cover;
}

.deals_frame .deals_container {
  position: relative;

  width: 1300px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.deals_frame .deals_container .deals_left {
  position: relative;
  width: 340px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deals_frame .deals_left .deals_title {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.deals_frame .deals_left .timer_wrapper {
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
}

.deals_frame .timer_wrapper .timer_box {
  width: 82px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.deals_frame .timer_box strong {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.deals_frame .timer_box span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.deals_frame .deals_left a {
  position: relative;
  width: 140px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.deals_frame .deals_container .deals_right {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deals_frame .deals_right .next_prev_box {
  position: relative;
  z-index: 99;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deals_frame .deals_right .next_prev_box img {
  position: absolute;
  top: 50%;
}

.deals_frame .deals_right .event_product_boxes {
  position: relative;
  width: 880px;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.deals_frame .event_product_boxes .event_product_card {
  position: relative;
  width: 205px;
  margin-right: 5px;
  height: auto;
  text-overflow: ellipsis;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.deals_frame .event_product_card .product_img {
  position: relative;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deals_frame .event_product_card .product_card_context {
  padding-left: 10px;
  box-sizing: border-box;
  width: 205px;
  height: 200px;
  overflow: hidden;
}

.deals_frame .product_card_context span {
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(98, 105, 116, 1);
}

.deals_frame .product_card_context .old {
  margin-left: 20px;
  text-decoration: line-through;
}

.deals_frame .product_card_context h3,
strong,
a {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
