.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(68, 50, 151, 1);
}

.container {
  position: relative;
  padding: 20px 0px 14px;
  width: 1320px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.nav_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_top > a img {
  height: 36px;
  margin-right: 76px;
}

.nav_top .nav_top_search {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;

  border-radius: 6px;
}

.nav_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.search_box .category_list {
  width: 166px;
  height: 38px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #d6d6d6;
}

.category_list select {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;

  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;
}

.nav_top_search .search_icon {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #f5c34b;
  border-radius: 0px 6px 6px 0px;
}

.search_icon_box img {
  width: 20px;
  height: 20px;
}

.nav_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.top_menu_box .box_icon {
  position: relative;
  margin-right: 16px;
  width: 50px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.box_icon img {
  width: 25px;
  height: 25px;
}

.box_icon .basket_number {
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5c34b;
  border-radius: 50%;
  color: rgba(11, 30, 64, 1);

  font-family: Inter;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}

.top_menu_box .box_info {
  display: flex;
  flex-direction: column;
}

.box_info span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: undefinedpx;
  font-weight: undefined;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.box_info strong {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: undefinedpx;
  font-weight: undefined;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.nav_bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  border-top: 1px solid #5746a1;
}

.nav_bott .nav_bott_menu_box {
  margin-top: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_bott_menu_box .browse_box {
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #5746a1;
}

.browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.browse_box span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: undefinedpx;
  font-weight: undefined;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.nav_bott_menu_box .nav_route_menu {
  width: 670px;
  margin-left: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_route_menu .router_menu {
  margin-right: 20px;
  width: auto;
  height: auto;

  display: flex;
}

.router_menu a {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.router_menu a.active {
  color: #f5c34b;
}

.nav_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}

.sorting_menu span {
  margin-left: 20px;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
}
