.received_page {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .head {
    margin: 60px 0px 40px;
    width: 1320px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    strong {
      margin: 10px 0px;
      color: rgba(4, 30, 66, 1);

      font-family: var(--font);
      font-style: Medium;
      font-size: 28px;
      font-weight: 500;
      line-height: 40px;
      letter-spacing: 0%;
      text-align: center;
    }

    span {
      color: rgba(4, 30, 66, 1);

      font-family: var(--font);
      font-style: Regular;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: center;
    }
  }

  .order_info {
    margin-bottom: 30px;
    width: 1320px;
    height: 130px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border: 1px dashed rgba(98, 105, 116, 1);
    border-radius: 6px;

    p {
      color: rgba(4, 30, 66, 1);

      font-family: var(--font);
      font-style: Regular;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
    }

    strong {
      color: rgba(4, 30, 66, 1);

      font-family: var(--font);
      font-style: Medium;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
    }
  }

  .inner {
    width: 1320px;
    height: 510px;
    padding: 30px 70px;

    display: flex;
    flex-direction: column;

    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-sizing: border-box;

    p {
      color: rgba(4, 30, 66, 1);

      font-family: var(--font);
      font-style: Medium;
      font-size: 20px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0%;
      text-align: left;
    }

    .strong {
      width: auto;
      height: auto;
      padding: 10px 0px;

      display: flex;
      justify-content: space-between;

      border-top: 1px solid #eaeaea;

      strong {
        color: rgba(4, 30, 66, 1);

        font-family: var(--font);
        font-style: Medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 35px;
        letter-spacing: 0%;
        text-align: left;
      }
    }

    .product {
      width: auto;
      height: auto;
      padding: 10px 0px;

      display: flex;
      flex-direction: column;
      gap: 10px;

      border-top: 1px solid #eaeaea;

      .span {
        display: flex;
        justify-content: space-between;

        span {
          color: rgba(4, 30, 66, 1);

          font-family: var(--font);
          font-style: Regular;
          font-size: 15px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0%;
          text-align: left;
        }
      }
    }
  }
}
